@import '../../../styles/styles.scss';


.table-header {
    cursor: pointer;
}

.display-center {
    margin-top: 2vh;
}

.display-center {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.table-font {
    color: lightgrey;
    // color: $base-color;
}

.ReactModal__Content {
    width: 50%;
}

.genres-list {
    margin-top: 5px!important;
}

.display-film-modal-div {
    display: flex;
    margin-left: 25%;
}

.search-container>div {
    cursor: pointer;
}

.rating-modal {
    margin-left: 10px;
}

.display-films-tbl {
    margin-top: 5px;
    background-color: #212529!important;
    border-color: #32383e!important;
    color: $base-color;
}

.footer-center {
    margin-left: 45%;
}

.page-btn {
    background-color: $theme-color!important;
}

.page-btn.active {
    background-color: $base-color!important;
}

.page-btn > a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    color: $base-color!important;
}

.page-btn.active > a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    color: $theme-color!important;
}

.search-container {
    display:flex;
}

.search-container>input, .search-container>.inputWithIcon {
    // margin-left: 63vh
    margin-left: 56vh;
}

.search-container>button {
    margin-left:auto;
}

.search-container > input, .search-container > div {
    display:inline;
}

.search-container > div {
    margin-top: 8px;
}

input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    top: 2px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }

  .delete-icon {
    right: 23px;
  }

  .search-icon {
    right: 50px;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
  
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .search-container>input, .search-container>.inputWithIcon {
        // margin-left: 63vh
        margin-left: 0vh;
    }
    
    .footer-center {
        margin-left: 16%;
    }
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
}
