@import '../../../styles/styles.scss';


.table-header {
    cursor: pointer;
}

.display-center {
    margin-top: 2vh;
}

.display-center {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.table-font {
    color: $base-color;
}

.ReactModal__Content {
    width: 50%;
}

.genres-list {
    margin-top: 5px!important;
}

.display-film-modal-div {
    display: flex;
    margin-left: 25%;
}

// .film-modal-title {
//     // text-align: center;
// }

.rating-modal {
    margin-left: 10px;
}

.display-films-tbl {
    margin-top: 5px;
    background-color: #212529!important;
    border-color: #32383e!important;
    color: $base-color;
}

.footer-center {
    margin-left: 45%;
}

.page-btn {
    background-color: $theme-color!important;
}

.page-btn.active {
    background-color: $base-color!important;
}

.page-btn > a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    color: $base-color!important;
}

.page-btn.active > a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    color: $theme-color!important;
}

.search-container {
    display:flex;
}

.search-container>input {
    margin-left: 63vh
}

.search-container>button {
    margin-left:auto;
}

.search-container > input, .search-container > div {
    display:inline;
}

.search-container > div {
    margin-top: 8px;
}