@import '../../styles/styles';

.component-container {
    margin: 0 auto;
    padding-right: 0px!important;
    padding-left: 0px!important;

}

.create-film-container {
    display: flex;
    flex-wrap: wrap; 
}

.back-arrow-container {
    padding-right:0px!important;
}

.next-arrow-container {
    padding-left:0px!important;    
}

.route-component {
    height: 75vh;
    // background-color: #fff;
    background-color: $theme-color;
    margin: 0 auto;
    margin-top: 20px;
    border: $primary-border-color solid 1px;
    border-radius: 10px;
}

.footer {
    margin-top: 5px;
}

.previous-next-btns {
    margin-top: 35vh;
}

.previous-next-btns.disabled-cursor-btns{
    cursor: not-allowed;
}

.previous {
    float:right;
}

.next {
    float:left;
}

.footer > .next-prev-btn {
    display: none;
}

.save-btn {
    float: right;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .footer > .next-prev-btn {
        display: block;
    }
	
    .save-btn {
        float: none;
        margin-left: 17%;
    }
}
