.display-films-film-info {
    border: 1px solid rgba(0,0,0,.125);
    height: 60vh;
    display: inline-block;
}

.dispaly-films-image {
    display: inline-block;
    height: 60vh;
}

.dispaly-films-image>img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.display-films-container {
    display: flex;
}