.table-header {
    cursor: pointer;
}

.ReactModal__Content {
    width: 50%;
}

.genres-list {
    margin-top: 5px!important;
}

.display-film-modal-div {
    display: flex;
    margin-left: 25%;
}

.film-modal-title {
    text-align: center;
}

.rating-modal {
    margin-left: 10px;
}