@import '../../../styles/styles';

.landing-page-modal-container {
    opacity: 0.99;
    background-color: $active-color;
    border: 1px solid $primary-border-color;
    border-radius: 5px;
    position: fixed!important;
    top: 50%;
    left: 50%;
    height: 35%;
    transform: translate(-50%, -50%);
    padding: 0 !important;
    margin: 0 !important;
}

.nav-tabs .nav-item {
    margin-bottom: 0px!important;
}

.landing-page-active-btn {
    background-color: $active-color!important;
}

.landing-page-inactive-btn {
    background-color: $inactive-color;
} 

.landing-page-background {
    background-image: url('../../../assets/filmcollage.jpg');
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}